:local(.styles) {
  flex: 1;
  display: flex;
  flex-direction: column;

  .form-group {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    textarea {
      resize: none;
      min-height: 100px;
      flex-grow: 1;
    }
  }

  .pattern-overview {
    flex-shrink: 0;
    code {
      margin-right: 5px;
    }
  }
}
