:local(.styles) {
  align-items: baseline;
  display: flex;
  flex-direction: row;

  span {
    flex-shrink: 0;
  }

  .text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.indicator {
    padding-left: 0;

    .icon.icon-record {
      font-size: 1em;
      margin: 0 3px;
    }
  }
}
