@import 'colors';

:local(.styles){
  $onColor: $green;
  $offColor: $red;
  $borderRadius: 3px;
  $height: 2em;
  $width: $height * 2.5;
  @mixin switch-transition() {
    transition: all 0.2s;
  }

  height: $height;
  width: $width;
  border-radius: $borderRadius;
  @include switch-transition();

  &.on {
    background-color: $onColor;
    .handle {
      border: 1px solid $onColor;
      transform: translate(100%);
    }
  }

  &.off {
    background-color: $offColor;
    .handle {
      border: 1px solid $offColor;
    }
  }

  .text {
    text-align: center;
    color: $white;
    width: 50%;
    height: 100%;
    line-height: 1.9;
    &.on {
      float: left;
    }
    &.off {
      float: right;
    }
  }

  .handle {
    @include switch-transition();
    position: absolute;
    z-index: 100;
    width: $width / 2;
    height: $height;
    background-color: $white;
    border-radius: $borderRadius;
  }
}
