@import 'colors';

:local(.styles) {

  color: $white;
  transition-property: transform, height, padding;
  transition-duration: 0.4s;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 0;
  height: 0;
  line-height: 1.2em;
  z-index: 1;

  &.visible, &.static {
    padding: 5px 10px;
    transform: none;
    height: auto;
  }

  &.static {
    z-index: 10;
    position: static;
  }

  //Styles
  &.msg-default {
    background: $dark-grey;
  }

  &.msg-primary {
    background: $blue;
  }

  &.msg-positive {
    background: $green;
  }

  &.msg-negative {
    background: $red;
  }

  &.msg-warning {
    background: $orange;
  }
}
