:local(.styles) {

  color: #fff;
  transition: all 0.4s;
  position: absolute;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 0;
  transform: translateY(-100%);
  padding: 5px 10px;
  line-height: 1.2em;

  &.visible, &.static {
    transform: none;
  }

  &.static {
    z-index: 1;
    position: static;
  }

  //Styles
  &.msg-default {
    background: #9fa0a4;
  }

  &.msg-primary {
    background: #0192ff;
  }

  &.msg-positive {
    background: #48dc6c;
  }

  &.msg-negative {
    background: #fe4a65;
  }

  &.msg-warning {
    background: #fed201;
  }
}
