@import 'colors';

:local(.styles) {
  .overlay {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  .modal {
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    transition: all 0.4s;
    transform: translateY(-120%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: $white;
    border: 1px solid $light-grey;
    padding: 15px 10px;
    box-shadow: $light-grey 0 0 15px;

    .content {
      margin-bottom: 15px;
    }

    .options {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .btn:first-child {
        margin-right: 10px;
      }
    }
  }

  &.visible {
    .overlay {
      display: block;
    }

    .modal {
      transform: translateY(0%)
    }
  }
}
