$white: #fff;
$off-white: #fcfcfc;
$green: #48dc6c;
$red: #fe4a65;
$purple: #6a71e6;
$blue: #0192ff;
$light-blue: #2dbae7;
$orange: #ffa500;
$yellow: #fed201;
$lighter-grey: #ddd;
$light-grey: #9fa0a4;
$dark-grey: #555;
