@import 'colors';

:global(body) {

  font-size: 13px;

  .toolbar-header .title {
    -webkit-app-region: drag;
  }

  .toolbar-footer .toolbar-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &:before,
    &:after {
      content: normal;
    }

    .btn {
      order: 1;
    }

    .pull-right {
      float: none;
      order: 0;
    }
  }

  .container-pane{
    display: flex;
    flex-direction: column;
    flex: 3;
    overflow: hidden;
  }

  .main-pane {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;

    .padded-more {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .form-control, label, table, .btn, .sidebar {
    font-size: 1em;
  }

  .section-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    // text-transform: capitalize;

    & > .left, & > .center, & > .right {
      flex-basis: 0;
    }
    .left {
      flex-grow: 1;
      margin: 0;
      padding-right: 10px;
      text-align: right;
    }

    .center {
      flex-grow: 2;
      margin: 0;
      p {
        margin: 0;
      }

      .btn-group {
        margin-top: 10px;
      }
    }

    .right {
      flex-grow: 1;
      padding-left: 10px;
      margin: 0;
    }
  }

  table {
    border: 1px solid #ddd;
  }


  .icon.icon-record {
    margin-right: 7px;
    &.primary {
      color: $blue;
    }
    &.positive {
      color: $green;
    }
    &.negative {
      color: $red;
    }
    &.warning {
      color: $orange;
    }
  }

  a {
    text-decoration: none;
  }

  a:not(.btn):not(.nav-group-item) {
    color: $blue;
    transition: color 0.2s;
    &:hover {
      color: $blue * 0.5;
    }
  }

  .text-muted {
    color: #7c7c7c;
  }


  .btn {
    padding: 1px 13px;
    line-height: 19px;
    text-transform: capitalize;

    &.btn-default {
      background: $white;

      &:active {
        background: $lighter-grey;
      }
    }

    &.btn-primary {
      background: $blue;
      border: 1px solid $blue;

      &:active {
        background: $blue * 0.8;
      }
    }

    &.btn-negative {
      background: $red;
      border: 1px solid $red;

      &:active {
        background: $red * 0.8;
      }
    }

    &.btn-positive {
      background: $green;
      border: 1px solid $green;

      &:active {
        background: $green * 0.8;
      }
    }

  }

  .progressbar-container {
    border-radius: 100px;
    background: $off-white;
    border: 1px solid $lighter-grey;

    .progressbar-progress {
      border-radius: 100px;
      background: $green;
    }
  }
}
