:global(body) {
  $green: #48dc6c;
  $red: #fe4a65;
  $purple: #6a71e6;
  $blue: #0192ff;
  $light-blue: #2dbae7;
  $orange: #ffa500;
  $yellow: #fed201;

  .toolbar-header .title {
    -webkit-app-region: drag;
  }

  .sidebar {
    padding-top: 35px;
    -webkit-app-region: drag;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .main-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1, h2, h3, h4, p {
      margin: 0;
      font-weight: lighter;
    }
  }

  .section-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    text-transform: capitalize;

    & > .left, & > .center, & > .right {
      flex-basis: 0;
    }
    .left {
      flex-grow: 1;
      margin: 0;
      padding-right: 10px;
      text-align: right;
    }

    .center {
      flex-grow: 2;
      margin: 0;
      p {
        margin: 0;
      }

      .btn-group {
        margin-top: 10px;
      }
    }

    .right {
      flex-grow: 1;
      padding-left: 10px;
      margin: 0;
    }
  }

  table {
    border: 1px solid #ddd;
    & > tbody > tr.active {
      background-color: #116cd6 !important;
      color: #fff !important;
    }
  }


  .icon.icon-record {
    margin-right: 7px;
    &.online {
      color: $green;
    }   
    &.offline {
      color: $red;
    }  
  }

  a {
    text-decoration: none;
    color: $blue;
    transition: color 0.2s;
    &:hover {
      color: #014480;
    }
  }

  .text-muted {
    color: #7c7c7c;
  }


  .btn {
    padding: 0 13px;
    line-height: 19px;

    &.btn-default {
      background: #fff;
    }
  }

  .btn-group .btn {
    padding: 2px 8px;
  }

  .progressbar-container {
    border-radius: 100px;
    background: #f5f5f4;
    border: 1px solid #ddd;

    .progressbar-progress {
      border-radius: 100px;
      background: $green;
    }
  }
}
