:global(body) {
  $green: #48dc6c;
  $red: #fe4a65;
  $purple: #6a71e6;
  $blue: #0192ff;
  $light-blue: #2dbae7;
  $orange: #ffa500;
  $yellow: #fed201;

  .toolbar-header .title {
    -webkit-app-region: drag;
  }

  .toolbar-footer .toolbar-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &:before,
    &:after {
      content: normal;
    }

    .btn {
      order: 1;
    }

    .pull-right {
      float: none;
      order: 0;
    }
  }

  .sidebar {
    -webkit-app-region: drag;
    padding-top: 35px;

    .toolbar-options {
      padding: 9px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-end;
    }

    .nav-group-title {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      & > a {
        color: inherit !important;
      }
    }
  }

  .window-content > .pane{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  .main-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1, h2, h3, h4, p {
      margin: 0;
      font-weight: lighter;
    }
  }

  .section-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    // text-transform: capitalize;

    & > .left, & > .center, & > .right {
      flex-basis: 0;
    }
    .left {
      flex-grow: 1;
      margin: 0;
      padding-right: 10px;
      text-align: right;
    }

    .center {
      flex-grow: 2;
      margin: 0;
      p {
        margin: 0;
      }

      .btn-group {
        margin-top: 10px;
      }
    }

    .right {
      flex-grow: 1;
      padding-left: 10px;
      margin: 0;
    }
  }

  table {
    border: 1px solid #ddd;
  }


  .icon.icon-record {
    margin-right: 7px;
    &.positive {
      color: $green;
    }
    &.negative {
      color: $red;
    }
    &.warning {
      color: $yellow;
    }
  }

  a {
    text-decoration: none;
  }

  a:not(.btn):not(.nav-group-item) {
    color: $blue;
    transition: color 0.2s;
    &:hover {
      color: #014480;
    }
  }

  .text-muted {
    color: #7c7c7c;
  }


  .btn {
    padding: 0 13px;
    line-height: 19px;
    text-transform: capitalize;

    &.btn-default {
      background: #fff;
    }

    &.btn-primary {
      background: $blue;
      border: $blue;
    }

    &.btn-negative {
      background: $red;
      border: $red;
    }

    &.btn-positive {
      background: $green;
      border: $green;
    }

  }

  .btn-group .btn {
    padding: 2px 8px;
  }

  .progressbar-container {
    border-radius: 100px;
    background: #f5f5f4;
    border: 1px solid #ddd;

    .progressbar-progress {
      border-radius: 100px;
      background: $green;
    }
  }
}
