@import 'colors';

:local(.styles) {

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &.error {
    .form-control{
      border-color: $red;
    }
  }
}
