:local(.styles){
  .in-sync {
    .progressbar-container{
      margin-top: 5px;
    }
    .details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
