:local(.styles) {
  -webkit-app-region: drag;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-width: 150px;
  max-width: 250px;

  .toolbar-options {
    padding: 9px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
  }

  .nav-group {
    font-size: inherit;
    overflow: auto;
  }

  .nav-group-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.9em;

    & > a {
      color: inherit !important;
    }
  }
}
